.custom-svg-container {
  margin: 30px;
  padding: 20px;
}

/* "custom-navbar me-auto my-2 my-lg-0" */

.custom-input {
  border-color: white;
}

.nav-link {
  color: #f7f3ee;
  margin-right: 10px;
}

.nav-link:hover {
  color: #f7f3ee;
}

.form-control {
  margin-right: 10px;
}

.btn {
  margin-right: 10px;
}

.btn-login {
  background-color: #fe4236;
  border-color: #fe4236;
  color: white;
  margin-right: 80px;
}

.btn-login {
  background-color: #fe4236;
  border-color: white;
  color: white;
}
.custom-navbar {
  background-color: #fe4236;
  height: auto;
}

.navbar-link {
  color: white;
}

.navbar-admin {
  background-color: #123ac8;
  height: auto;
}

.icono-perfil {
  margin-right: 6px;
  height: 35px;
  width: 35px;
}
.dropdown {
  background: #ffffff;
  color: #123ac8;
  margin: 0;
  border-radius: 0%;
}
.join-row {
  margin: 0;
}
