.custom-svg-container {
  margin: 30px;
  padding: 20px;
}

/* "custom-navbar me-auto my-2 my-lg-0" */

.custom-input {
  border-color: white;
}

.nav-link {
  color: #f7f3ee;
  margin: 0 20px 0 10px;
}

.nav-link:hover {
  color: #acc1ff;
}

.form-control {
  margin-right: 10px;
}

.btn {
  margin-right: 10px;
}

.btn-loguser {
  background-color: #fe4236;
  border-color: #f7f3ee;
  color: white;
}
.btn-log-admin {
  background-color: #123ac8;
  border-color: #f7f3ee;
  color: white;
  font-size: xx-small;
  margin-right: 30px;
}

.custom-navbar {
  background-color: #fe4236;
  height: auto;
}

.navbar-link {
  color: white;
}

.navbar-admin {
  background-color: #123ac8;
  height: auto;
  font-size: small;
}

.icono-perfil {
  margin-right: 6px;
  height: 35px;
  width: 35px;
}
.dropdown {
  background: #ffffff;
  color: #123ac8;
  margin: 0;
  border-radius: 0%;
}

.logo-image {
  margin-left: 20px;
}
