
 .navbar {
  background-color: #FE4236;
 
}
.custom-svg-container {
  margin: 30px;
  padding: 20px;
  }
.custom-input {
border-color: white;
;
}

.nav-link {
  color:#F7F3EE;
  margin-right: 10px;
}

.nav-link:hover {
  color:#F7F3EE;
}

.form-control {
  margin-right: 10px;
}

.btn {
  margin-right: 10px;
} 


.btn-login {
  background-color:  #FE4236;
  border-color:  #FE4236;
  color: white;
  margin-right: 80px;
  
}

.btn-login {
  background-color:  #FE4236;
  border-color:  white;
  color: white;
}
.custom-navbar {
  background-color:  #FE4236;
  height: 80px;
}

.navbar-link a {
color:white
}
