.signup {
  display: flex;
  flex-direction: row;
}
.col1 {
  background: #fe4236;
}
.col3 {
  background: #fe4236;
}
.card-float {
  position: absolute;
  background: yellow;
  top: 40%;
  left: 30%;
}
